.about {
	position: absolute;
	top: 0;
	z-index: -1;
	width: 100vw;
	height: 100vh;
	color: #e8eef2;
	background-color: #37393a;
	display: flex;
	align-items: center;
	justify-content: center;
}

.title {
}
